<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodsMapper">

    <sql id="Base_Column_List">
        id, name, category, quantity
    </sql>

    <select id="selectAll" resultType="com.example.entity.Goods">
        select
        <include refid="Base_Column_List" />
        from goods
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectAllWithStation" resultType="com.example.entity.Goods">
        select
        g.id, g.name, g.category, g.quantity, s.name as stationName
        from goods g
        left join station_goods sg on g.id = sg.goods_id
        left join stations s on sg.station_id = s.id
        <where>
            <if test="goods.id != null"> and g.id= #{goods.id}</if>
            <if test="goods.name != null"> and g.name like concat('%', #{goods.name}, '%')</if>
            <if test="stationId != null"> and sg.station_id = #{stationId}</if>
        </where>
    </select>


    <select id="selectById" resultType="com.example.entity.Goods">
        select
        <include refid="Base_Column_List" />
        from goods
        where id = #{id}
    </select>

    <select id="getCategories" resultType="java.lang.String">
        select distinct category from goods
    </select>

    <delete id="deleteById">
        delete from goods
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Goods" useGeneratedKeys="true" keyProperty="id">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="category != null">category,</if>
            <if test="quantity != null">quantity,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="category != null">#{category},</if>
            <if test="quantity != null">#{quantity},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Goods" keyProperty="id">
        update goods
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="quantity != null">
                quantity = #{quantity},
            </if>
        </set>
        where id = #{id} 
    </update>


    <select id="getTypeAndNum" resultType="com.example.entity.GoodsTypeNum">
        SELECT category, SUM(quantity) AS quantity
        FROM goods
        GROUP BY category
    </select>

</mapper>