<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RouteMapper">

    <sql id="Base_Column_List">
        id, from_station_id, to_station_id, route_type, disable_flag
    </sql>

    <select id="selectAll" resultType="com.example.entity.Route">
        SELECT routes.*, from_station.name as fromStationName, to_station.name as toStationName
        FROM routes
        LEFT JOIN stations AS from_station ON routes.from_station_id = from_station.id
        LEFT JOIN stations AS to_station ON routes.to_station_id = to_station.id
        <where>
            <if test="id != null"> and routes.id = #{id}</if>
        </where>
    </select>

    <select id="selectAllWithKeyWord" resultType="com.example.entity.Route">
        SELECT routes.*, from_station.name as fromStationName, to_station.name as toStationName
        FROM routes
        LEFT JOIN stations AS from_station ON routes.from_station_id = from_station.id
        LEFT JOIN stations AS to_station ON routes.to_station_id = to_station.id
        <where>
            <if test="route.id != null"> AND routes.id = #{route.id}</if>
            <if test="keyword != null and keyword != ''">
                AND (from_station.name LIKE CONCAT('%', #{keyword}, '%')
                OR to_station.name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>


    <select id="selectById" resultType="com.example.entity.Route">
        select
        <include refid="Base_Column_List" />
        from routes
        where id = #{id}
    </select>

    <select id="selectByFromToType" resultType="com.example.entity.Route">
        SELECT * FROM routes
        WHERE from_station_id = #{fromStationId}
          AND to_station_id = #{toStationId}
          AND route_type = #{routeType}
    </select>


    <delete id="deleteById">
        delete from routes
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Route" useGeneratedKeys="true">
        insert into routes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="fromStationId != null">from_station_id,</if>
            <if test="toStationId != null">to_station_id,</if>
            <if test="routeType != null">route_type,</if>
            <if test="disableFlag != null">disable_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="fromStationId != null">#{fromStationId},</if>
            <if test="toStationId != null">#{toStationId},</if>
            <if test="routeType != null">#{routeType},</if>
            <if test="disableFlag != null">#{disableFlag},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Route">
        update routes
        <set>
            <if test="fromStationId != null">
                from_station_id = #{fromStationId},
            </if>
            <if test="toStationId != null">
                to_station_id = #{toStationId},
            </if>
            <if test="routeType != null">
                route_type = #{routeType},
            </if>
            <if test="disableFlag != null">
                disable_flag = #{disableFlag},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>