<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RouteMapper">

    <sql id="Base_Column_List">
        id, from_station_id, to_station_id, route_type, disable_flag
    </sql>

    <select id="selectAll" resultType="com.example.entity.Route">
        select
        <include refid="Base_Column_List" />
        from routes
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectById" resultType="com.example.entity.Route">
        select
        <include refid="Base_Column_List" />
        from routes
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from routes
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Route" useGeneratedKeys="true">
        insert into routes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="fromStationId != null">from_station_id,</if>
            <if test="toStationId != null">to_station_id,</if>
            <if test="routeType != null">route_type,</if>
            <if test="disableFlag != null">disable_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="fromStationId != null">#{fromStationId},</if>
            <if test="toStationId != null">#{toStationId},</if>
            <if test="routeType != null">#{routeType},</if>
            <if test="disableFlag != null">#{disableFlag},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Route">
        update routes
        <set>
            <if test="fromStationId != null">
                from_station_id = #{fromStationId},
            </if>
            <if test="toStationId != null">
                to_station_id = #{toStationId},
            </if>
            <if test="routeType != null">
                route_type = #{routeType},
            </if>
            <if test="disableFlag != null">
                disable_flag = #{disableFlag},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>